.menu{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.row{
    display: flex;
    justify-content: space-between;
}

.item-2{
    align-self:center;
    padding: 50px;
    color: white;
    font-style: normal;
    font-family: "Playfair display";
    font-size: 20px;
}

/* #team{
    text-align: center;
    padding: 80px 0;
    border-bottom: 1px solid grey;
    color: #ff6f22;
    font-size: 28.8px;
} */

.team{
    text-align: center;
    padding: 80px 0;
    border-bottom: 1px solid #50555c;
    font-size: 28.8px;
}

#learn{
    text-align: center;
    border-bottom: 1px solid #50555c;
    padding: 80px 0;
}

#blog{
    text-align: center;
    border-bottom: 1px solid #50555c;
    padding: 80px 0;
}

.faqs{
    display: flex;
    justify-content: center;
}

.connect{
    display: flex;
    justify-content: center;
}

.embeds{
    display: flex;
    justify-content: center;
}

.mt-3{

}

.container{
    margin-top: 50px;
    font-family: "PT serif", serif;
}

.navbar{
    margin: 0px;
}

.nav-item{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #666666;
}

.nav-link{
    color: #666666;
}

.nav-link:hover{
    color: #ff6f22
}

.logo{
    color: #ff6f22;
    padding-left: 10px;
}

.h2{
    font-family: "Bitter", serif!important;
    font-size: 45px!important;
}

.section{
    background-image: url("images/bg7.jpg");
}

#caption{
    color: #ff6f22;
    font-family: "Bitter";
    font-size: 28.8px;
}

#caption_content{
    font-family: "Playfair display";
    font-size: 26px;
}

#learn_caption{
    color: #ff6f22;
    font-family: "Bitter";
    font-size: 36px;
    font-style: normal;
}

.h3_content{
    font-size: 32px;
}