.menu{
    display: flex;
    text-align: center;
}

.row{
    display: flex;
    justify-content: space-between;
}

.item-2{
    align-self:center;
    padding: 50px;
}

#team{
    text-align: center;
    padding: 80px 0;
    border-bottom: 1px solid grey;
}

#learn{
    text-align: center;
}

#blog{
    text-align: center;
}

.faqs{
    display: flex;
    justify-content: center;
}

.connect{
    display: flex;
    justify-content: center;
}
