.menu{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.row{
    display: flex;
    justify-content: space-between;
}

.item-2{
    align-self:center;
    padding: 50px;
}

#team{
    text-align: center;
    padding: 80px 0;
    border-bottom: 1px solid grey;
}

#learn{
    text-align: center;
}

#blog{
    text-align: center;
}

.faqs{
    display: flex;
    justify-content: center;
}

.connect{
    display: flex;
    justify-content: center;
}

.embeds{
    display: flex;
    justify-content: center;
}

.mt-3{

}

.container{
    margin-top: 50px;
    font-family: "PT serif", serif;
}

.navbar{
    margin: 0px;
}

.nav-item{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #666666;
}

.nav-link{
    color: #666666;
}

.nav-link:hover{
    color: #ff6f22
}

.logo{
    color: #ff6f22;
    padding-left: 10px;
}

.h2{
    font-family: "Bitter", serif!important;
    font-size: 45px!important;
}]

.section{
    background-image: url("images/bg7.jpg");
}